QPushButton {
    padding: 0.2em 0.2em 0.3em 0.2em;
    border: 1px solid rgb(100, 100, 100);
        border-radius: 5px;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:2,
                                  stop:0 #FFFFFF, stop:0.1 #FFFFFF, stop:1  #7B7B7B);
    color: black;
}

QPushButton:hover:!pressed
{
        border: 1px solid black;
        border-radius: 5px;
        background: #FFFFFF;
}

QPushButton:pressed
{
        border: 1px solid black;
        border-radius: 5px;
        background: #888888;
        color:white;
}
